.category {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    font-size: 14px;
    color: #333;

    
    -webkit-appearance: none;
    appearance: none;

    
    width: auto;
    height: auto;
}

.category:focus {
    outline: none;
}


.icon-wrap {
    width: 50px;
    height: 50px;
    background: rgba(68, 214, 27, 0.06);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0b4000;
}


.category.active .icon-wrap {
    background: rgba(68, 214, 27, 0.12);
    box-shadow: 0 4px 10px rgba(68, 214, 27, 0.10);
}


.category:hover .icon-wrap {
    background: rgba(68, 214, 27, 0.10);
}

.categories {
    display: flex;
    gap: 50px;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
