@using Core
@using PW1
@inject HttpClient http

<div class="product-detail container-xl">
  
  @if (Annonce != null)
  {
    <div class="gallery">
      <div class="main-image">
        <img src="@Annonce.ImageUrl" alt="@Annonce?.Title" loading="lazy"/>
      </div>
    </div>


    <aside class="details">
      <h1 class="title">@Annonce?.Title</h1>
      <span class="price">@Annonce?.Price.ToString("N0") kr.</span>
      <div class="desc">
        @if (!string.IsNullOrWhiteSpace(Annonce?.Description))
        {
          <p>@Annonce.Description</p>
        }
      </div>
      <div class="actions">
        <button class="btn primary" @onclick="() => OnSendMessage(Annonce)">Andmod om køb</button>
      </div>
      <dl class="meta-list">
        <dt>Sælger</dt><dd>@Annonce?.SælgerId</dd>
        <dt>Lokation</dt><dd>@Annonce?.Location</dd>
        <dt>Kategori</dt><dd>@Annonce?.Category</dd>
      </dl>
    </aside>
  }
</div >
    
    
    

@code {
    [Parameter] public Annonce? Annonce { get; set; }
    private List<Anmodning> mineAnmodninger = new();




    private async Task OnSendMessage(Annonce annonce)
    {
        var req = new Anmodning
            {
                BrugerId = 1,
                AnnonceId = annonce.AnonnceId,
                Date = DateTime.UtcNow,
                Status = "pending"
            };

            await http.PostAsJsonAsync($"http://localhost:{PASSWORD.localPort}/api/anmodning", req);
            mineAnmodninger.Add(req);

    }

   
}
