@page "/marked"
@inject NavigationManager NavMan
@inject HttpClient Http
@using Core
@using Client.Components.Marked;
@using Client.PW1


<div class="container-xl">
  <header class="hero">

    <div class="search-wrap">
      <div class="searchbox">
        <input placeholder="Søg efter produkt" />
        <button class="search-btn" aria-label="Søg">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <circle cx="11" cy="11" r="6"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
        </button>
      </div>
    </div>
    <MarkedFilter Selected="@SelectedCategory" SelectedChanged="OnCategoryChanged" />
  </header>

  
  <section>
    <h3 style="max-width:1160px;margin:18px auto 8px">Annoncer</h3>

    @if (Annoncer.Count == 0)
    {
      <p>No products</p>
    }
    else
    {
      <MarkedGrid Annoncer="@Annoncer" />
    }
      
   
  </section>
</div>

@code {
    private string search = "";
    private string SelectedCategory { get; set; } = "Alle";

    private List<Annonce> Annoncer = new();

    protected override async Task OnInitializedAsync()
    {
      Annoncer = await Http.GetFromJsonAsync<List<Annonce>>($"http://localhost:{PASSWORD.localPort}/api/annonce");
    }
    
    IEnumerable<Annonce> FilteredAnnoncer => SelectedCategory == "Alle"
      ? Annoncer
      : Annoncer.Where(a => string.Equals(a.Category, SelectedCategory, StringComparison.OrdinalIgnoreCase));

    private void OnCategoryChanged(string cat)
    {
      SelectedCategory = cat;
    }
    
    /*private List<Annonce> Annoncer = new()
    {
      new Annonce
      {
        AnonnceId = 1,
        Title = "GO PRIS FOR HURTIG HANDEL. 2 IKEA Småstad...",
        Description = "Kort beskrivelse — stand, mål eller andet.",
        ImageUrl = "https://m.media-amazon.com/images/I/91TjRnsruRL._AC_UF350,350_QL80_.jpg",
        Price = 800,
        Category = "Møbler",
        Status = "Aktiv",
        SælgerId = 3,
        BrugerId = 3,
        Location = "SH-A1.06"
      },
      new Annonce
      {
        AnonnceId = 2,
        Title = "Komplet sort stålskorssten rør og tilbehør",
        Description = "Kort beskrivelse.",
        ImageUrl = "https://jyskpejsecenter.dk/wp-content/uploads/2024/10/5.jpg",
        Price = 5300,
        Category = "Have",
        Status = "Aktiv",
        SælgerId = 4,
        BrugerId = 4,
        Location = "SH-A1.06"
      },
      new Annonce
      {
        AnonnceId = 2,
        Title = "Komplet sort stålskorssten rør og tilbehør",
        Description = "Kort beskrivelse.",
        ImageUrl = "https://jyskpejsecenter.dk/wp-content/uploads/2024/10/5.jpg",
        Price = 5300,
        Category = "Have",
        Status = "Aktiv",
        SælgerId = 4,
        BrugerId = 4,
        Location = "SH-A1.06"
      },
      new Annonce
      {
        AnonnceId = 2,
        Title = "Komplet sort stålskorssten rør og tilbehør",
        Description = "Kort beskrivelse.",
        ImageUrl = "https://jyskpejsecenter.dk/wp-content/uploads/2024/10/5.jpg",
        Price = 5300,
        Category = "Have",
        Status = "Aktiv",
        SælgerId = 4,
        BrugerId = 4,
        Location = "SH-A1.06"
      },
      new Annonce
      {
        AnonnceId = 2,
        Title = "Komplet sort stålskorssten rør og tilbehør",
        Description = "Kort beskrivelse.",
        ImageUrl = "https://jyskpejsecenter.dk/wp-content/uploads/2024/10/5.jpg",
        Price = 5300,
        Category = "Have",
        Status = "Aktiv",
        SælgerId = 4,
        BrugerId = 4,
        Location = "SH-A1.06"
      },
      new Annonce
      {
        AnonnceId = 2,
        Title = "Komplet sort stålskorssten rør og tilbehør",
        Description = "Kort beskrivelse.",
        ImageUrl = "https://jyskpejsecenter.dk/wp-content/uploads/2024/10/5.jpg",
        Price = 5300,
        Category = "Have",
        Status = "Aktiv",
        SælgerId = 4,
        BrugerId = 4,
        Location = "SH-A1.06"
      },
      new Annonce
      {
        AnonnceId = 2,
        Title = "Komplet sort stålskorssten rør og tilbehør",
        Description = "Kort beskrivelse.",
        ImageUrl = "https://jyskpejsecenter.dk/wp-content/uploads/2024/10/5.jpg",
        Price = 5300,
        Category = "Have",
        Status = "Aktiv",
        SælgerId = 4,
        BrugerId = 4,
        Location = "SH-A1.06"
      },
      new Annonce
      {
        AnonnceId = 2,
        Title = "Komplet sort stålskorssten rør og tilbehør",
        Description = "Kort beskrivelse.",
        ImageUrl = "https://jyskpejsecenter.dk/wp-content/uploads/2024/10/5.jpg",
        Price = 5300,
        Category = "Have",
        Status = "Aktiv",
        SælgerId = 4,
        BrugerId = 4,
        Location = "SH-A1.06"
      },
      new Annonce
      {
        AnonnceId = 2,
        Title = "Komplet sort stålskorssten rør og tilbehør",
        Description = "Kort beskrivelse.",
        ImageUrl = "https://jyskpejsecenter.dk/wp-content/uploads/2024/10/5.jpg",
        Price = 5300,
        Category = "Have",
        Status = "Aktiv",
        SælgerId = 4,
        BrugerId = 4,
        Location = "SH-A1.06"
      },
      new Annonce
      {
        AnonnceId = 2,
        Title = "Komplet sort stålskorssten rør og tilbehør",
        Description = "Kort beskrivelse.",
        ImageUrl = "https://jyskpejsecenter.dk/wp-content/uploads/2024/10/5.jpg",
        Price = 5300,
        Category = "Have",
        Status = "Aktiv",
        SælgerId = 4,
        BrugerId = 4,
        Location = "SH-A1.06"
      },
      new Annonce
      {
        AnonnceId = 2,
        Title = "Komplet sort stålskorssten rør og tilbehør",
        Description = "Kort beskrivelse.",
        ImageUrl = "https://jyskpejsecenter.dk/wp-content/uploads/2024/10/5.jpg",
        Price = 5300,
        Category = "Have",
        Status = "Aktiv",
        SælgerId = 4,
        BrugerId = 4,
        Location = "SH-A1.06"
      }
    };*/
}