@page "/marked"
@inject NavigationManager NavMan
@using Core
@using Client.Components.Marked;


<div class="container-xl">
  <header class="hero">

    <div class="search-wrap">
      <div class="searchbox">
        <input placeholder="Søg efter produkt" />
        <button class="search-btn" aria-label="Søg">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <circle cx="11" cy="11" r="6"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
        </button>
      </div>
    </div>
    
    @*<div class="categories" role="navigation" aria-label="Kategorier">
      <div class="category">
        <div class="icon-wrap">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"width="18"height="18"><path d="M4 5V16H20V5H4ZM2 4.00748C2 3.45107 2.45531 3 2.9918 3H21.0082C21.556 3 22 3.44892 22 4.00748V18H2V4.00748ZM1 19H23V21H1V19Z"></path></svg>
        </div>
        <div>Elektronik</div>
      </div>

      <div class="category">
        <div class="icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"width="18" height="18"><path d="M19 20H5V21C5 21.5523 4.55228 22 4 22H3C2.44772 22 2 21.5523 2 21V13.5L0.757464 13.1894C0.312297 13.0781 0 12.6781 0 12.2192V11.5C0 11.2239 0.223858 11 0.5 11H2L4.4805 5.21216C4.79566 4.47679 5.51874 4 6.31879 4H17.6812C18.4813 4 19.2043 4.47679 19.5195 5.21216L22 11H23.5C23.7761 11 24 11.2239 24 11.5V12.2192C24 12.6781 23.6877 13.0781 23.2425 13.1894L22 13.5V21C22 21.5523 21.5523 22 21 22H20C19.4477 22 19 21.5523 19 21V20ZM20 18V13H4V18H20ZM5.47703 11H18.523C18.6502 11 18.7762 10.9757 18.8944 10.9285C19.4071 10.7234 19.6566 10.1414 19.4514 9.62861L18 6H6L4.54856 9.62861C4.50131 9.74673 4.47703 9.87278 4.47703 10C4.47703 10.5523 4.92475 11 5.47703 11ZM5 14C7.31672 14 8.87868 14.7548 9.68588 16.2643L9.68582 16.2643C9.81602 16.5078 9.72418 16.8107 9.4807 16.9409C9.40818 16.9797 9.3272 17 9.24496 17H6C5.44772 17 5 16.5523 5 16V14ZM19 14V16C19 16.5523 18.5523 17 18 17H14.755C14.6728 17 14.5918 16.9797 14.5193 16.9409C14.2758 16.8107 14.184 16.5078 14.3142 16.2643L14.3141 16.2643C15.1213 14.7548 16.6833 14 19 14Z"></path></svg></div>
        <div>Bil</div>
      </div>

      <div class="category">
        <div class="icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"width="18"height="18"><path d="M8 3C5.79086 3 4 4.79086 4 7V9.12602C2.27477 9.57006 1 11.1362 1 13C1 14.4817 1.8052 15.7734 3 16.4646V19V21H5V20H19V21H21V19V16.4646C22.1948 15.7734 23 14.4817 23 13C23 11.1362 21.7252 9.57006 20 9.12602V7C20 4.79086 18.2091 3 16 3H8ZM18 9.12602C16.2748 9.57006 15 11.1362 15 13H9C9 11.1362 7.72523 9.57006 6 9.12602V7C6 5.89543 6.89543 5 8 5H16C17.1046 5 18 5.89543 18 7V9.12602ZM9 15H15V16H17V13C17 11.8954 17.8954 11 19 11C20.1046 11 21 11.8954 21 13C21 13.8693 20.4449 14.6114 19.6668 14.8865C19.2672 15.0277 19 15.4055 19 15.8293V18H5V15.8293C5 15.4055 4.73284 15.0277 4.33325 14.8865C3.5551 14.6114 3 13.8693 3 13C3 11.8954 3.89543 11 5 11C6.10457 11 7 11.8954 7 13V16H9V15Z"></path></svg></div>
        <div>Møbler</div>
      </div>

      <div class="category">
        <div class="icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"width="18"height="18"><path d="M8.99805 3C8.99805 4.65685 10.3412 6 11.998 6C13.6549 6 14.998 4.65685 14.998 3H20.998C21.5503 3 21.998 3.44772 21.998 4V11C21.998 11.5523 21.5503 12 20.998 12H18.997L18.998 20C18.998 20.5523 18.5503 21 17.998 21H5.99805C5.44576 21 4.99805 20.5523 4.99805 20L4.99705 11.999L2.99805 12C2.44576 12 1.99805 11.5523 1.99805 11V4C1.99805 3.44772 2.44576 3 2.99805 3H8.99805ZM19.998 4.999H16.581L16.5642 5.04018C15.8115 6.7223 14.1566 7.91251 12.2149 7.99538L11.998 8C9.96331 8 8.21245 6.7846 7.43186 5.04018L7.41405 4.999H3.99805V9.999L6.9968 9.998L6.99705 19H16.998L16.9968 10L19.998 9.999V4.999Z"></path></svg></div>
        <div>Tøj</div>
      </div>

      <div class="category">
        <div class="icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"width="18"height="18"><path d="M15.5257 3.52562C16.8925 2.15878 19.1081 2.15878 20.475 3.52562C21.8415 4.89249 21.8417 7.10812 20.475 8.47487L20.3041 8.64675C20.1088 8.84201 20.1088 9.15852 20.3041 9.35379L20.475 9.52566C21.8415 10.8925 21.8417 13.1082 20.475 14.4749L20.3041 14.6468C20.1088 14.8421 20.1088 15.1586 20.3041 15.3538L20.475 15.5257C21.8415 16.8926 21.8417 19.1082 20.475 20.475C19.1082 21.8417 16.8926 21.8415 15.5257 20.475L15.3538 20.3041C15.1586 20.1088 14.8421 20.1088 14.6468 20.3041L14.4749 20.475C13.1082 21.8417 10.8925 21.8415 9.52566 20.475L9.35379 20.3041C9.15852 20.1088 8.84201 20.1088 8.64675 20.3041L8.47487 20.475C7.10812 21.8417 4.89249 21.8415 3.52562 20.475C2.15878 19.1081 2.15878 16.8925 3.52562 15.5257L3.69652 15.3538C3.8917 15.1587 3.89152 14.8421 3.69652 14.6468L3.52562 14.4749C2.15878 13.1081 2.15878 10.8925 3.52562 9.52566L3.69652 9.35379C3.8917 9.15861 3.89152 8.84204 3.69652 8.64675L3.52562 8.47487C2.15878 7.10803 2.15878 4.89247 3.52562 3.52562C4.89247 2.15878 7.10803 2.15878 8.47487 3.52562L8.64675 3.69652C8.84204 3.89152 9.15861 3.8917 9.35379 3.69652L9.52566 3.52562C10.8925 2.15878 13.1081 2.15878 14.4749 3.52562L14.6468 3.69652C14.8421 3.89152 15.1587 3.8917 15.3538 3.69652L15.5257 3.52562ZM19.0609 4.93969C18.4751 4.3539 17.5256 4.3539 16.9398 4.93969L16.7679 5.11157C15.7917 6.0874 14.209 6.08722 13.2327 5.11157L13.0608 4.93969C12.4751 4.3539 11.5255 4.3539 10.9397 4.93969L10.7679 5.11157C9.79171 6.0874 8.20894 6.08722 7.23268 5.11157L7.0608 4.93969C6.47501 4.3539 5.52548 4.3539 4.93969 4.93969C4.3539 5.52548 4.3539 6.47501 4.93969 7.0608L5.11157 7.23268C6.08722 8.20894 6.0874 9.79171 5.11157 10.7679L4.93969 10.9397C4.3539 11.5255 4.3539 12.4751 4.93969 13.0608L5.11157 13.2327C6.08722 14.209 6.0874 15.7917 5.11157 16.7679L4.93969 16.9398C4.3539 17.5256 4.3539 18.4751 4.93969 19.0609C5.52551 19.6464 6.4751 19.6466 7.0608 19.0609L7.23268 18.889C8.20892 17.9131 9.79162 17.9131 10.7679 18.889L10.9397 19.0609C11.5255 19.6464 12.4751 19.6466 13.0608 19.0609L13.2327 18.889C14.209 17.9131 15.7917 17.9131 16.7679 18.889L16.9398 19.0609C17.5256 19.6464 18.4752 19.6466 19.0609 19.0609C19.6466 18.4752 19.6464 17.5256 19.0609 16.9398L18.889 16.7679C17.9131 15.7917 17.9131 14.209 18.889 13.2327L19.0609 13.0608C19.6466 12.4751 19.6464 11.5255 19.0609 10.9397L18.889 10.7679C17.9131 9.79162 17.9131 8.20892 18.889 7.23268L19.0609 7.0608C19.6466 6.4751 19.6464 5.52551 19.0609 4.93969ZM14.5003 7.50026C15.6048 7.5004 16.5003 8.39578 16.5003 9.50027V14.5003C16.5002 15.6047 15.6047 16.5002 14.5003 16.5003H9.50027C8.39578 16.5003 7.5004 15.6048 7.50026 14.5003V9.50027C7.50026 8.3957 8.3957 7.50026 9.50027 7.50026H14.5003ZM9.50027 14.5003H14.5003V9.50027H9.50027V14.5003Z"></path></svg></div>
        <div>Kunst</div>
      </div>
      
      <div class="category">
        <div class="icon-wrap"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"width="18"height="18"><path d="M6 7C6 3.68629 8.68629 1 12 1C15.3137 1 18 3.68629 18 7C18 7.26214 17.9831 7.5207 17.9504 7.77457C19.77 8.80413 21 10.7575 21 13C21 16.3137 18.3137 19 15 19H13V22H11V19H8.5C5.46243 19 3 16.5376 3 13.5C3 11.2863 4.30712 9.37966 6.19098 8.50704C6.06635 8.02551 6 7.52039 6 7ZM7.00964 10.3319C5.82176 10.8918 5 12.1008 5 13.5C5 15.433 6.567 17 8.5 17H15C17.2091 17 19 15.2091 19 13C19 11.3056 17.9461 9.85488 16.4544 9.27234L15.6129 8.94372C15.7907 8.30337 16 7.67183 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 8.30783 8.6266 9.46903 9.60019 10.2005L8.39884 11.7995C7.85767 11.3929 7.38716 10.8963 7.00964 10.3319Z"></path></svg></div>
        <div>Have</div>
      </div>
      
    </div>*@
    
    <MarkedFilter Selected="@SelectedCategory" SelectedChanged="OnCategoryChanged" />
  </header>

  
  <section>
    <h3 style="max-width:1160px;margin:18px auto 8px">Annoncer</h3>

    @if (Annoncer.Count == 0)
    {
      <p>No products</p>
    }
    else
    {
      <MarkedGrid Annoncer="@Annoncer" />
    }
      
   
  </section>
</div>

@code {
    private string search = "";
    private string SelectedCategory { get; set; } = "Alle";
    
    IEnumerable<Annonce> FilteredAnnoncer => SelectedCategory == "Alle"
      ? Annoncer
      : Annoncer.Where(a => string.Equals(a.Category, SelectedCategory, StringComparison.OrdinalIgnoreCase));

    private void OnCategoryChanged(string cat)
    {
      SelectedCategory = cat;
    }
    
    private List<Annonce> Annoncer = new()
    {
      new Annonce
      {
        AnonnceId = 1,
        Title = "GO PRIS FOR HURTIG HANDEL. 2 IKEA Småstad...",
        Description = "Kort beskrivelse — stand, mål eller andet.",
        ImageUrl = "https://m.media-amazon.com/images/I/91TjRnsruRL._AC_UF350,350_QL80_.jpg",
        Price = 800,
        Category = "Møbler",
        Status = "Aktiv",
        SælgerId = 3,
        BrugerId = 3,
        Location = "SH-A1.06"
      },
      new Annonce
      {
        AnonnceId = 2,
        Title = "Komplet sort stålskorssten rør og tilbehør",
        Description = "Kort beskrivelse.",
        ImageUrl = "https://jyskpejsecenter.dk/wp-content/uploads/2024/10/5.jpg",
        Price = 5300,
        Category = "Have",
        Status = "Aktiv",
        SælgerId = 4,
        BrugerId = 4,
        Location = "SH-A1.06"
      },
      new Annonce
      {
        AnonnceId = 2,
        Title = "Komplet sort stålskorssten rør og tilbehør",
        Description = "Kort beskrivelse.",
        ImageUrl = "https://jyskpejsecenter.dk/wp-content/uploads/2024/10/5.jpg",
        Price = 5300,
        Category = "Have",
        Status = "Aktiv",
        SælgerId = 4,
        BrugerId = 4,
        Location = "SH-A1.06"
      },
      new Annonce
      {
        AnonnceId = 2,
        Title = "Komplet sort stålskorssten rør og tilbehør",
        Description = "Kort beskrivelse.",
        ImageUrl = "https://jyskpejsecenter.dk/wp-content/uploads/2024/10/5.jpg",
        Price = 5300,
        Category = "Have",
        Status = "Aktiv",
        SælgerId = 4,
        BrugerId = 4,
        Location = "SH-A1.06"
      },
      new Annonce
      {
        AnonnceId = 2,
        Title = "Komplet sort stålskorssten rør og tilbehør",
        Description = "Kort beskrivelse.",
        ImageUrl = "https://jyskpejsecenter.dk/wp-content/uploads/2024/10/5.jpg",
        Price = 5300,
        Category = "Have",
        Status = "Aktiv",
        SælgerId = 4,
        BrugerId = 4,
        Location = "SH-A1.06"
      },
      new Annonce
      {
        AnonnceId = 2,
        Title = "Komplet sort stålskorssten rør og tilbehør",
        Description = "Kort beskrivelse.",
        ImageUrl = "https://jyskpejsecenter.dk/wp-content/uploads/2024/10/5.jpg",
        Price = 5300,
        Category = "Have",
        Status = "Aktiv",
        SælgerId = 4,
        BrugerId = 4,
        Location = "SH-A1.06"
      },
      new Annonce
      {
        AnonnceId = 2,
        Title = "Komplet sort stålskorssten rør og tilbehør",
        Description = "Kort beskrivelse.",
        ImageUrl = "https://jyskpejsecenter.dk/wp-content/uploads/2024/10/5.jpg",
        Price = 5300,
        Category = "Have",
        Status = "Aktiv",
        SælgerId = 4,
        BrugerId = 4,
        Location = "SH-A1.06"
      },
      new Annonce
      {
        AnonnceId = 2,
        Title = "Komplet sort stålskorssten rør og tilbehør",
        Description = "Kort beskrivelse.",
        ImageUrl = "https://jyskpejsecenter.dk/wp-content/uploads/2024/10/5.jpg",
        Price = 5300,
        Category = "Have",
        Status = "Aktiv",
        SælgerId = 4,
        BrugerId = 4,
        Location = "SH-A1.06"
      },
      new Annonce
      {
        AnonnceId = 2,
        Title = "Komplet sort stålskorssten rør og tilbehør",
        Description = "Kort beskrivelse.",
        ImageUrl = "https://jyskpejsecenter.dk/wp-content/uploads/2024/10/5.jpg",
        Price = 5300,
        Category = "Have",
        Status = "Aktiv",
        SælgerId = 4,
        BrugerId = 4,
        Location = "SH-A1.06"
      },
      new Annonce
      {
        AnonnceId = 2,
        Title = "Komplet sort stålskorssten rør og tilbehør",
        Description = "Kort beskrivelse.",
        ImageUrl = "https://jyskpejsecenter.dk/wp-content/uploads/2024/10/5.jpg",
        Price = 5300,
        Category = "Have",
        Status = "Aktiv",
        SælgerId = 4,
        BrugerId = 4,
        Location = "SH-A1.06"
      },
      new Annonce
      {
        AnonnceId = 2,
        Title = "Komplet sort stålskorssten rør og tilbehør",
        Description = "Kort beskrivelse.",
        ImageUrl = "https://jyskpejsecenter.dk/wp-content/uploads/2024/10/5.jpg",
        Price = 5300,
        Category = "Have",
        Status = "Aktiv",
        SælgerId = 4,
        BrugerId = 4,
        Location = "SH-A1.06"
      }
    };
}