@page "/indkøb"
@inject HttpClient Http
@using Core
@using PW1
@using Client.Components

<h3>Mine Indkøb</h3>


@if (mineIndkøb == null )
{
    <p>Ingen produkter</p>
}
else
{
    <div class="d-flex flex-wrap">
        @foreach (var p in mineIndkøb)
        {
            <MineKøbComp Indkøb="p"/>
        }
    </div>

}


@code {
    private List<MineIndkøb>? mineIndkøb;

    protected override async Task OnInitializedAsync()
    {
        await LoadMineIndkøb();
    }

    private async Task LoadMineIndkøb()
    {
        // Skift URL til det endpoint, der returnerer dine køb
        mineIndkøb = await Http.GetFromJsonAsync<List<MineIndkøb>>($"http://localhost:{PASSWORD.localPort}/api/mineindkob");
    }
}
