@page "/annoncer"
@inject NavigationManager Nav
@using Client.Components

<h3>Mine annoncer</h3>

<button class="btn btn-primary" @onclick="GoToTilføjAnnoncePage"> 
	Opret Ny Annonce
</button>

@code {
	void GoToTilføjAnnoncePage()
	{
		Nav.NavigateTo("/add-annonce");
	}

}
