@page "/annoncer"
@using Client.PW1
@inject NavigationManager Nav
@using Client.Components
@using Core
@inject HttpClient http


<h3>Mine annoncer</h3>
@if (annoncer.Count == 0 )
{
	<p>No products</p>
}
else
{
	<div class="d-flex flex-wrap">
		@foreach(var p in annoncer)
		{
			<AnnonceCard Annonce="p"/>
		}
	</div>
}
<button class="btn btn-primary" @onclick="GoToTilføjAnnoncePage"> 
	Opret Ny Annonce
</button>

@code {

	private List<Annonce> annoncer = new();

	protected override async Task OnInitializedAsync()
	{
		//without services:
		annoncer = await http.GetFromJsonAsync<List<Annonce>>($"mongodb+srv://tobiaskring111_db_user:{PASSWORD.superHemligPassword}@dbtest.adqud16.mongodb.net/");
	}
	
	void GoToTilføjAnnoncePage()
	{
		Nav.NavigateTo("/add-annonce");
	}


}
