@page "/indkøb"
@inject HttpClient Http
@using Core
@using PW1
@using Client.Components

<h3>Mine køb</h3>


@if (mineIndkob == null)
{
    <p>Ingen produkter</p>
}
else
{
    <div class="d-flex flex-wrap">
        @foreach (var p in mineIndkob)
        {
            <MineKøbComp Indkob="p"/>
        }
    </div>

}


@code {
    // Liste til at gemme de køb, der hentes fra API
    private List<MineIndkob>? mineIndkob;

    // Blazor-livscyklusmetode, kaldes når komponenten initialiseres
    protected override async Task OnInitializedAsync()
    {
        await LoadMineIndkøb(); // Hent køb fra backend når komponenten loader
    }

    // Metode til at hente køb fra API
    private async Task LoadMineIndkøb()
    {
        // Sender GET-request til backend endpoint /api/mineindkob
        // Deserialiserer JSON-respons til en List<MineIndkob>
        mineIndkob = await Http.GetFromJsonAsync<List<MineIndkob>>(
            $"http://localhost:{PASSWORD.localPort}/api/mineindkob"
        );
    }
}
