@page "/annoncer"
@using Client.PW1
@inject NavigationManager Nav
@using Client.Components.AnnonceCard
@using Core;
@inject HttpClient http


<h3>Mine annoncer</h3>

<button class="btn btn-primary" @onclick="GoToTilføjAnnoncePage"> 
	Opret Ny Annonce
</button>

@if (annoncer.Count == 0 )
{
	<p>Ingen produkter</p>
}
else
{
	<div class="d-flex flex-wrap">
		@foreach (var p in annoncer)
		{
			<AnnonceCard Annonce="p" OnDelete="@((id) => DeleteAnnonce(id))"/>
		}
	</div>

}

@code {

	private List<Annonce> annoncer = new();

	protected override async Task OnInitializedAsync()
	{
		annoncer = await http.GetFromJsonAsync<List<Annonce>>($"http://localhost:{PASSWORD.localPort}/api/annonce");
	}

	private async Task DeleteAnnonce(int id)
	{
		await http.DeleteAsync($"http://localhost:{PASSWORD.localPort}/api/annonce/{id}");
		
		annoncer = await http.GetFromJsonAsync<List<Annonce>>($"http://localhost:{PASSWORD.localPort}/api/annonce");
	}


	void GoToTilføjAnnoncePage()
	{
		Nav.NavigateTo("/TilføjAnnonce");
	}



}
