@page "/addbruger"
@using Client.Service
@using Core
@inject NavigationManager navMan
@inject IBrugerService brugerService

<PageTitle>Add User</PageTitle>

<h3>Add User</h3>

<EditForm Model="@_bruger" class="row p-3" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="col-md-12 mb-3">
        <label for="Name">Navn:</label>
        <InputText id="Name" @bind-Value="_bruger.Name" class="form-control" placeholder="Navn"/>
    </div>
    <div class="col-md-12 mb-3">
        <label for="Email">Email:</label>
        <InputText id="Email" @bind-Value="_bruger.Email" class="form-control" placeholder="Email"/>
    </div>
    <div class="col-md-12 mb-3">
        <label for="pwd">Adgangskode:</label>
        <InputText id="pwd"
                   type="@PasswordType"
                   class="form-control"
                   @bind-Value="_bruger.Password"
                   placeholder="Adgangskode"/>
        <i class="bi bi-eye" @onclick="ToggleAdgangskodeVisibility"></i>
    </div>
    <div class="col-md-12 mb-3">
        <label for="Phone">Telefon nummer:</label>
        <InputText id="Phone" @bind-Value="_bruger.Phone" class="form-control" placeholder="Telefon nummer"/>
    </div>

    <div class="col-md-12 mb-3">
        <label for="Adress">Adresse:</label>
        <InputText id="Adress" @bind-Value="_bruger.Address" class="form-control" placeholder="Adresse"/>
    </div>

    <div class="col-12 mb-3">
        <button type="submit" class="btn btn-primary">Opret</button>
    </div>
</EditForm>


@code {
    // Opretter en instans af Bruger, som bindes til formularen
    Bruger _bruger = new();

    // Metode, der kaldes når formularen valideres og submit udføres
    public async Task HandleValidSubmit()
    {
        // Kalder service-laget for at tilføje den nye bruger til databasen
        await brugerService.Add(_bruger);

        // Nulstiller formularens felter efter indsættelse
        _bruger = new();

        // Navigerer brugeren til siden "bruger" efter submit
        navMan.NavigateTo("bruger");
    }

    // Returnerer typen af password-input feltet afhængigt af visPassword
    // Hvis visPassword er true → input type er "text" (synlig password)
    // Hvis visPassword er false → input type er "password" (skjult)
    private string PasswordType => visPassword ? "text" : "password";

    // Variabel til at holde styr på om password skal vises
    private bool visPassword = false;

    // Metode der toggler visPassword variablen
    // Bruges fx til at vise/skjule password når brugeren klikker på et ikon
    private void ToggleAdgangskodeVisibility() => visPassword = !visPassword;
}