@page "/addbruger"
@using Client.Service
@using Core
@inject NavigationManager navMan
@inject IBrugerService brugerService

<PageTitle>Add User</PageTitle>

<h3>Add User</h3>

<EditForm Model="@_bruger" class="row p-3" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="col-md-12 mb-3">
        <label for="Name">Navn:</label>
        <InputText id="Name" @bind-Value="_bruger.Name" class="form-control" placeholder="Navn"/>
    </div>
    <div class="col-md-12 mb-3">
        <label for="Email">Email:</label>
        <InputText id="Email" @bind-Value="_bruger.Email" class="form-control" placeholder="Email"/>
    </div>
    <div class="col-md-12 mb-3">
        <label for="pwd">Adgangskode:</label>
        <InputText id="pwd"
                   type="@PasswordType"
                   class="form-control"
                   @bind-Value="_bruger.Password"
                   placeholder="Adgangskode"/>
        <i class="bi bi-eye" @onclick="ToggleAdgangskodeVisibility"></i>
    </div>
    <div class="col-md-12 mb-3">
        <label for="Phone">Telefon nummer:</label>
        <InputText id="Phone" @bind-Value="_bruger.Phone" class="form-control" placeholder="Telefon nummer"/>
    </div>

    <div class="col-md-12 mb-3">
        <label for="Adress">Adresse:</label>
        <InputText id="Adress" @bind-Value="_bruger.Address" class="form-control" placeholder="Adresse"/>
    </div>

    <div class="col-12 mb-3">
        <button type="submit" class="btn btn-primary">Opret</button>
    </div>
</EditForm>


@code {
    Bruger _bruger = new();
    
    public async Task HandleValidSubmit()
    {
        // await http.PostAsJsonAsync("", _bike);
        await brugerService.Add(_bruger);
        _bruger = new(); // clear fields in form
        navMan.NavigateTo("bruger");

    }
    
    private string PasswordType => visPassword ? "text" : "password";
    private bool visPassword = false;

    private void ToggleAdgangskodeVisibility() => visPassword = !visPassword;

}