@using Core
@namespace Client.Components.AnnonceCard

<article class="annonce-row" role="listitem">
    <div class="thumb">
        <img src="@Annonce.ImageUrl" alt="@Annonce?.Title" loading="lazy" />
    </div>

    <div class="content">

        <h3 class="title">@Annonce?.Title</h3>

        <div class="subtitle">
            <span class="where">Marked</span>
            <span class="price">til salg @Annonce?.Price.ToString("N0") kr.</span>
        </div>
    </div>

    <div class="actions">
        <button class="btn mark-sold" @onclick="OnClickSeeRequest">Se anmodninger</button>
        <button class="btn more" @onclick="OnMoreClicked" title="Flere handlinger">…</button>
    </div>
</article>

@code {
    [Parameter] public Annonce Annonce { get; set; } = default!;

    private void OnClickSeeRequest()
    {
        
    }

    private void OnMoreClicked()
    {
        
    }

}