@using Core

<div class="card m-2 p-3 shadow-sm border rounded position-relative d-flex flex-column justify-content-between"
     style="width: 260px; min-height: 420px;">
    
    <div class="flex-grow-1">
        <h4 class="mt-4">@Anonnce.Title</h4>
        <p><strong>Pris:</strong> @Anonnce.Price kr.</p>
        <p class="description">@Anonnce.Description</p>
    </div>
    
    <div class="mt-auto pt-2 border-top">
        <p><strong>Kategori:</strong> @Anonnce.Category</p>
        
    </div>
</div>


@code {
    [Parameter]
    public Anonnce Anonnce { get; set; }
}