@using Core
@namespace Client.Components

<article class="annonce-row" role="listitem">
    <div class="thumb">
        <img src="@Indkob.ImageUrl" alt="@Indkob?.Title" loading="lazy" />
    </div>

    <div class="content">
        <h3 class="title">@Indkob?.Title</h3>

        <div class="subtitle">
            <span class="where">Marked</span>
            <span class="price">til salg @Indkob?.Price.ToString("N0") kr.</span>
        </div>
    </div>
</article>

@code {
    [Parameter] public MineIndkob Indkob { get; set; } = null;
    
}